<h1>CARRITO</h1>
<h2>Lista de productos agregados hasta el momento:</h2>

{{#if products.length}}
    {{#each products}}
    
        <div>
            <h6>Categoria: {{this.category}}</h6>
        </div>

        <div>
            <span>ID: {{this.id}}</span>
            <h2>TITULO :{{this.title}}</h2>
        </div>

        <div>
            <p>Descripcion: {{this.description}}</p>
            <p>codigo: {{this.code}}</p>
        </div>

        <h3>PRECIO: {{this.price}}</h3>

        <form action="/cart/{{../carritoId}}/add_product/{{this.id}}" method="POST">
            <button type="submit">+</button>
        </form>

        {{!-- BOTON DE AGREGAR OTRO PRODUCTO IGUAL AL CARRITO --}}
        {{!-- BOTON DE QUITAR PRODUCTO DEL CARRITO | SI no hay productos de este tipo en carrito no aparece--}}
    {{/each}}
{{else}}
    <p>El carrito no tiene productos</p>
{{/if}}
